.title {
	position: absolute;
	display: flex;
	flex-direction: column;
	left: 50vw;
	top: 1vh;
	width: 50vw;
	height: 15rem;
	margin: 0;
	background: white;
	border: 0.2rem solid;
	text-align: center;
	transform: translate(-50%, 0);
}

.jic {
	font-family: "Roboto";
	font-size: 2rem;
	color: #bc002d;
	margin-top: 5vmin;
	margin-bottom: 0;
}

.title a {
	position: relative;
	top: 2vh;
	font-family: "Roboto";
	font-size: 0.5rem;
	color: #bc002d;
}

.author {
	font-family: "Roboto";
	font-size: 1.5rem;
	color: #940023;
}

.happened {
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: "Roboto";
	font-size: 1rem;
	position: absolute;
	top: calc(16rem + 2vh);
	border: 2px solid black;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 16rem;
}

.happenedTitle {
	margin: 0;
	background-color: #f12958;
	color: white;
	border: 2px solid black;
	border-top: 0px solid white;
	width: 100%;
}

.happenedText {
	margin: 1vmin;
}

.change {
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: "Roboto";
	position: absolute;
	border: 2px solid black;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 7rem;
}

.changeTitle {
	margin: 0;
	background-color: #f12958;
	color: white;
	border: 2px solid black;
	border-top: 0px solid white;
	width: 100%;
}

.changeText {
	margin: 1vmin;
}

.long {
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: "Roboto";
	font-size: 1rem;
	position: absolute;
	border: 2px solid black;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 8.5rem;
}

.longTitle {
	margin: 0;
	background-color: #f12958;
	color: white;
	border: 2px solid black;
	border-top: 0px solid white;
	width: 100%;
}

.longText {
	margin: 1vmin;
}

.count {
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: "Roboto";
	position: absolute;
	border: 2px solid black;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 8.5rem;
}

.countTitle {
	margin: 0;
	background-color: #f12958;
	color: white;
	border: 2px solid black;
	border-top: 0px solid white;
	width: 100%;
}

.countText {
	margin: 1vmin;
}

.citations {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(236, 236, 236);
	border: 2px solid black;
	border-radius: 1rem;
	top: 0;
	left: 0;
	width: 20vmin;
	height: 15vmin;
}

.citations a {
	color: red;
}

@media (orientation: landscape) {
	.happened {
		width: 45vw;
	}

	.change {
		width: 45vw;
		right: 0;
		top: calc(20rem + 2vh);
	}

	.long {
		top: calc(34rem + 2vh);
		width: 45vw;
	}

	.count {
		width: 45vw;
		right: 0;
		top: calc(29rem + 2vh);
	}
}

@media (orientation: portrait) {
	.happened {
		width: 98vw;
		margin: 0;
		left: 50vw;
		transform: translate(-50%, 0);
	}

	.change {
		width: 98vw;
		margin: 0;
		left: 50vw;
		transform: translate(-50%, 0);
		top: calc(34rem);
	}

	.count {
		width: 98vw;
		margin: 0;
		left: 50vw;
		transform: translate(-50%, 0);
		top: calc(43rem);
	}

	.long {
		width: 98vw;
		margin: 0;
		left: 50vw;
		transform: translate(-50%, 0);
		top: calc(53rem + 2vh);
	}
}
