/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_title__3jonF {
	position: absolute;
	display: flex;
	flex-direction: column;
	left: 50vw;
	top: 1vh;
	width: 50vw;
	height: 15rem;
	margin: 0;
	background: white;
	border: 0.2rem solid;
	text-align: center;
	transform: translate(-50%, 0);
}

.page_jic__9EbJB {
	font-family: "Roboto";
	font-size: 2rem;
	color: #bc002d;
	margin-top: 5vmin;
	margin-bottom: 0;
}

.page_title__3jonF a {
	position: relative;
	top: 2vh;
	font-family: "Roboto";
	font-size: 0.5rem;
	color: #bc002d;
}

.page_author__BALPI {
	font-family: "Roboto";
	font-size: 1.5rem;
	color: #940023;
}

.page_happened__mAXC2 {
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: "Roboto";
	font-size: 1rem;
	position: absolute;
	top: calc(16rem + 2vh);
	border: 2px solid black;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 16rem;
}

.page_happenedTitle__Xt7Gm {
	margin: 0;
	background-color: #f12958;
	color: white;
	border: 2px solid black;
	border-top: 0px solid white;
	width: 100%;
}

.page_happenedText__Rhrr6 {
	margin: 1vmin;
}

.page_change__iW2_a {
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: "Roboto";
	position: absolute;
	border: 2px solid black;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 7rem;
}

.page_changeTitle__TxgbF {
	margin: 0;
	background-color: #f12958;
	color: white;
	border: 2px solid black;
	border-top: 0px solid white;
	width: 100%;
}

.page_changeText__RivoY {
	margin: 1vmin;
}

.page_long__QNCsX {
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: "Roboto";
	font-size: 1rem;
	position: absolute;
	border: 2px solid black;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 8.5rem;
}

.page_longTitle__YwfcS {
	margin: 0;
	background-color: #f12958;
	color: white;
	border: 2px solid black;
	border-top: 0px solid white;
	width: 100%;
}

.page_longText__Q6mAO {
	margin: 1vmin;
}

.page_count__M1yAd {
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: "Roboto";
	position: absolute;
	border: 2px solid black;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 8.5rem;
}

.page_countTitle__fWURH {
	margin: 0;
	background-color: #f12958;
	color: white;
	border: 2px solid black;
	border-top: 0px solid white;
	width: 100%;
}

.page_countText__8wn0m {
	margin: 1vmin;
}

.page_citations__ehB_z {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(236, 236, 236);
	border: 2px solid black;
	border-radius: 1rem;
	top: 0;
	left: 0;
	width: 20vmin;
	height: 15vmin;
}

.page_citations__ehB_z a {
	color: red;
}

@media (orientation: landscape) {
	.page_happened__mAXC2 {
		width: 45vw;
	}

	.page_change__iW2_a {
		width: 45vw;
		right: 0;
		top: calc(20rem + 2vh);
	}

	.page_long__QNCsX {
		top: calc(34rem + 2vh);
		width: 45vw;
	}

	.page_count__M1yAd {
		width: 45vw;
		right: 0;
		top: calc(29rem + 2vh);
	}
}

@media (orientation: portrait) {
	.page_happened__mAXC2 {
		width: 98vw;
		margin: 0;
		left: 50vw;
		transform: translate(-50%, 0);
	}

	.page_change__iW2_a {
		width: 98vw;
		margin: 0;
		left: 50vw;
		transform: translate(-50%, 0);
		top: calc(34rem);
	}

	.page_count__M1yAd {
		width: 98vw;
		margin: 0;
		left: 50vw;
		transform: translate(-50%, 0);
		top: calc(43rem);
	}

	.page_long__QNCsX {
		width: 98vw;
		margin: 0;
		left: 50vw;
		transform: translate(-50%, 0);
		top: calc(53rem + 2vh);
	}
}

